body {
	font-family: "Lato", sans-serif;
	color: black;
	font-weight: 300;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin: 20px auto 20px auto;
}

.style-four {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.featured {
	font-family: 'Architects Daughter', cursive;
	color: black;
	background-color: white;
	font-size: 42px;
}

h2 span, h3, h4 span, .modal-header {
	background-color: #088A68;
	color: white;
}

.close {
	color: white;
}

img {
	margin: 20px auto auto auto;
}

.modal-dialog {
	width: 50%;
	margin: auto;
}

@media screen and (max-width: 991px) {
	.title-logo {
		text-align: center;
		display: block;
		margin: 20px auto 0 auto;
	}

	h1,
	h2,
	h3,
	h4 {
		text-align: center;
	}

	.modal-dialog {
		width: 90%;
		margin: auto;
	}
}

.node {
	color: white;
	background-color: blue;
}

.ruby {
	color: white;
	background-color: red;
}

.python {
	color: white;
	background-color: brown;
}

.jquery {
	color: white;
	background-color: black;
}

.jasmine {
	color: white;
	background-color: purple;
}

.backbone {
	color: white;
	background-color: orange;
}

li, ul {
	list-style-type: none;
}